# A Template for setting up environment variables
# This file should be copied to .env and filled with the correct values
# =====================================================================
# REMEMBER TO ADD .env TO .gitignore
# =====================================================================

# (Optional) If you want to automatically track your experiments with comet.ml, fill in the following values
# Sign up at https://www.comet.ml/ and create a new project
export COMET_API_KEY=
export COMET_WORKSPACE=
export COMET_PROJECT_NAME=

# (Optional) If you intend to push your model to the Hugging Face Model Hub, fill in the following value
# Sign up at https://huggingface.co/ and create a new API key
export HUGGINGFACE_API_KEY=

# Reduce the logging verbosity of TensorFlow
export TF_CPP_MIN_LOG_LEVEL=3